{#
    В скобки {{...}} помещаются заполнители для динамического контента
    Эти заполнители являются переменными и будут определены только во время
    выполнения (см. вызов функции render_template()
    Jinja2 - механизм шаблонов в составе Flask, заменяет блоки {{...}}
    соответствующими значениями, заданными аргументами, указанными в вызове
    render_template()

    Шаблоны поддерживают управляющие операторы, заданные внутри блоков {%...%}

    extends - оператор наследования от указанного шаблона, устанавливает ссылку
    наследования между двумя шаблонами

    block content/endblock - оператор управления блоком, определяет как блок
    контента для вставки в указанное место, так и место, куда блок контента
    будет вставлен, если между открывающим и закрывающим операторами ничего
    не указано (см. base.html)
#}

{% extends "base.html" %}

{% block content %}
    <h1>Hello, {{ current_user.username }}!</h1>
    {% for post in posts %}
    <div><p>{{ post.author.username }} says: <b>{{ post.body }}</b></p></div>
    {% endfor %}
{% endblock %}
