{#
    form - используется в качестве контейнера для веб-формы

    action - атрибут используется для того, чтобы сообщить веб-браузеру
    URL-адрес, который должен использоваться при отправке информации,
    введенной пользователем в форму. Если action пустой, форма передается
    URL-адресу, находящемуся в данный момент в адресной строке, то есть
    URL-адресу, который визуализирует форму на странице

    method - атрибут указывает метод HTTP-запроса, который должен
    использоваться при отправке формы на сервер (по умолчанию get)

    novalidate - атрибут используется для указания веб-браузеру не применять
    проверку к полям в этой форме, что фактически оставляет эту задачу
    приложению Flask, запущенному на сервере

    form.hidden_tag() - создает скрытое поле, содержащее токен, используемый для
    защиты формы от атак CSRF

    Как правило, все поля, имеющие валидаторы, будут иметь сообщения об ошибках,
    добавляемые в form.field_name.errors

    Тег span опредеояет строчные элементы документа. В отличие от блочных
    элементов (table, p, div) с помощью span можно выделить часть информации
    внутри других тегов
#}

{% extends "base.html" %}

{% block content %}
    <h1>Sign In</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.remember_me() }} {{form.remember_me.label }}
        </p>
        <p>
            {{ form.submit() }}
        </p>
{% endblock %}