{#
    include - вызывает подшаблон из шаблона
#}

{% extends "base.html" %}

{% block content %}
    <table>
        <tr valign="top">
            <td><img src="{{ user.avatar() }}" width="128" height="128"></td>
            <td>
                <h1>{{ user.username }}</h1>
                <p>
                    <b>About me: </b>
                    {% if user.about_me %}
                    {{ user.about_me }}
                    {% endif %}
                </p>
                <p>
                    {% if user.last_seen %}
                    <b>Last seen on: </b>{{ user.last_seen }}
                    {% endif %}
                </p>
                <p>
                    {% if user == current_user %}
                    <a href="{{ url_for('edit_profile') }}">Edit your profile</a>
                    {% endif %}
                </p>
            </td>
        </tr>
    </table>
    <hr>
    {% for post in posts %}
        {% include "_post.html" %}
    {% endfor %}
{% endblock %}